Repository Xenfo/covid-report: changes, and which lint-staged commands are due for each by the changed paths.
All: next lint --fix --ignore-path .gitignore, prettier -w --ignore-path .gitignore

fix: linting
  .lintstagedrc.json
  package.json
Due: prettier -w --ignore-path .gitignore

fix: better yellow (#43)
  .lintstagedrc.json
  package.json
  src/components/SchoolSelection.tsx
Due: next lint --fix --ignore-path .gitignore, prettier -w --ignore-path .gitignore

fix: stars
  src/components/SchoolSelection.tsx
Due: next lint --fix --ignore-path .gitignore

fix: stars (#44)
  src/components/SchoolSelection.tsx
Due: next lint --fix --ignore-path .gitignore

fix: star ordering
  src/lib/schools.ts
Due: next lint --fix --ignore-path .gitignore

fix: start fixing class sorting
  src/components/SchoolSelection.tsx
  src/lib/sort.ts
Due: next lint --fix --ignore-path .gitignore

refactor: remove normalize
  src/lib/sort.ts
Due: next lint --fix --ignore-path .gitignore

fix: sorting and lint-staged
  .lintstagedrc.js
  .lintstagedrc.json
  src/lib/sort.ts
Due: next lint --fix --ignore-path .gitignore, prettier -w --ignore-path .gitignore

fix: ordering (#46)
  .lintstagedrc.js
  .lintstagedrc.json
  src/components/SchoolSelection.tsx
  src/lib/schools.ts
  src/lib/sort.ts
Due: next lint --fix --ignore-path .gitignore, prettier -w --ignore-path .gitignore

fix: focus trap
  src/components/Button.tsx
  src/components/CaseIDDialog.tsx
  src/components/ReadMoreDialog.tsx
  src/components/StatsDialog.tsx
  src/lib/schools.ts
  src/pages/api/cases.ts
  src/pages/index.tsx
  src/typings/index.ts
Due: next lint --fix --ignore-path .gitignore

refactor: remove console error
  src/pages/api/cases.ts
Due: next lint --fix --ignore-path .gitignore

fix: focus trap (#47)
  src/components/Button.tsx
  src/components/CaseIDDialog.tsx
  src/components/ReadMoreDialog.tsx
  src/components/StatsDialog.tsx
  src/lib/schools.ts
  src/pages/api/cases.ts
  src/pages/index.tsx
  src/typings/index.ts
Due: next lint --fix --ignore-path .gitignore

feat: search bar
  src/components/SchoolSelection.tsx
Due: next lint --fix --ignore-path .gitignore

feat: start filtering
  src/components/SchoolSelection.tsx
Due: next lint --fix --ignore-path .gitignore

fix: qol
  src/components/Button.tsx
  src/components/SchoolSelection.tsx
Due: next lint --fix --ignore-path .gitignore

chore(deps): update dependency @types/react to v17.0.39
  package.json
  yarn.lock
Due: prettier -w --ignore-path .gitignore

feat: search bar (#48)
  src/components/Button.tsx
  src/components/SchoolSelection.tsx
Due: next lint --fix --ignore-path .gitignore

chore(deps): update dependency eslint to v8.9.0
  package.json
  yarn.lock
Due: prettier -w --ignore-path .gitignore

fix(deps): update dependency axios to ^0.26.0
  package.json
  yarn.lock
Due: prettier -w --ignore-path .gitignore

chore(deps): update nextjs monorepo to v12.1.0
  package.json
  yarn.lock
Due: prettier -w --ignore-path .gitignore

chore(deps): update actions/setup-node action to v3
  .github/workflows/main.yml
Due: none

chore(deps): update dependency eslint to v8.10.0
  package.json
  yarn.lock
Due: prettier -w --ignore-path .gitignore

chore(deps): update actions/checkout action to v3
  .github/workflows/main.yml
Due: none

chore(deps): update dependency typescript to v4.6.2
  package.json
  yarn.lock
Due: prettier -w --ignore-path .gitignore

chore(deps): update dependency @types/react to v17.0.40
  package.json
  yarn.lock
Due: prettier -w --ignore-path .gitignore

chore(deps): update dependency eslint to v8.11.0
  package.json
  yarn.lock
Due: prettier -w --ignore-path .gitignore

chore(deps): update dependency @types/react to v17.0.41
  package.json
  yarn.lock
Due: prettier -w --ignore-path .gitignore

chore(deps): update dependency @types/react to v17.0.42
  package.json
  yarn.lock
Due: prettier -w --ignore-path .gitignore

chore(deps): update dependency @types/react to v17.0.43
  package.json
  yarn.lock
Due: prettier -w --ignore-path .gitignore

chore(deps): update dependency typescript to v4.6.3
  package.json
  yarn.lock
Due: prettier -w --ignore-path .gitignore

chore(deps): update nextjs monorepo to v12.1.1
  package.json
  yarn.lock
Due: prettier -w --ignore-path .gitignore

chore(deps): update dependency eslint to v8.12.0
  package.json
  yarn.lock
Due: prettier -w --ignore-path .gitignore

chore(deps): update nextjs monorepo to v12.1.2
  package.json
  yarn.lock
Due: prettier -w --ignore-path .gitignore

fix(deps): update react monorepo to v18
  package.json
  yarn.lock
Due: prettier -w --ignore-path .gitignore

chore(deps): update nextjs monorepo to v12.1.3
  package.json
  yarn.lock
Due: prettier -w --ignore-path .gitignore

chore(deps): update nextjs monorepo to v12.1.4
  package.json
  yarn.lock
Due: prettier -w --ignore-path .gitignore

chore(deps): update dependency @types/react to v17.0.44
  package.json
  yarn.lock
Due: prettier -w --ignore-path .gitignore

chore(deps): update dependency @types/react to v18
  package.json
  yarn.lock
Due: prettier -w --ignore-path .gitignore

chore(deps): update dependency @types/react-dom to v18
  package.json
  yarn.lock
Due: prettier -w --ignore-path .gitignore

chore(deps): update dependency eslint to v8.13.0
  package.json
  yarn.lock
Due: prettier -w --ignore-path .gitignore

Path conditions:
  next lint --fix --ignore-path .gitignore: any of: *.{ts,tsx}
  prettier -w --ignore-path .gitignore: any of: *.{js,json}
